<div data-aos="fade" data-aos-duration="800" data-aos-delay=<%= delay %>
     class="border border-blue-50 rounded bg-slate-50
            hover:-translate-y-1 hover:shadow-2xl
          hover:shadow-blue-100 hover:cursor-pointer
            transition-all">
  <div class="h-40 rounded-t bg-cover bg-center" style="background-image:url('<%= project.banner_url %>')"></div>
  <div class="p-5">
    <h3 class="font-medium"><%= project.name %></h3>
    <% project.skills.each do |skill| %>
      <small class="inline-block my-1 p-1 rounded text-blue-500 bg-blue-100"><%= skill.name %></small>
    <% end %>
  </div>
</div>
