<div data-aos="fade" data-aos-duration="800" data-aos-delay=<%= delay %> class="border border-blue-50 rounded text-center bg-slate-50">
  <small class="inline-block p-5 text-blue-500"><%= skill.name %></small>
</div>
