<%= link_to project_path(Project.previous(@project)) do %>
  <p class="text-2xl <%= "ml-#{margin}" %> text-slate-400">←</p>
<% end %>
<%= link_to project_path(Project.next(@project)) do %>
  <p class="text-2xl <%= "mr-#{margin}" %> text-slate-400">→</p>
<% end %>
