<div class="my-7 flex items-center">
  <div class="grow border-t border-blue-100"></div>
  <h3 class="mx-5 lg:mx-10 text-center text-2xl"><%= sanitize title %></h3>
  <div class="grow border-t border-blue-100"></div>
</div>
