<section class="container flex flex-col p-5 mx-auto">
  <div class="grid grid-cols-1 gap-5 mt-6 lg:mt-12 lg:grid-cols-2 lg:gap-10">
    <% @projects.each_with_index do |project, idx| %>
      <%= link_to project_path(project) do %>
        <div data-aos="fade"
             data-aos-duration="800"
             data-aos-delay=<%= (idx + 1) * 100 %>>
          <%= render 'projects/partials/card', project: project, idx: idx %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="mx-auto mt-16 mb-20">
    <%= render 'partials/minibutton', title: t_scoped(:see_all).capitalize, path: projects_path, color: 'text-slate-800' %>
  </div>
</section>
