<!DOCTYPE html>
<html>

<head>
  <title>Jean Guillet - Maintenance en cours</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <section>
    <h1>Maintenance en cours</h1>
    <p>Un peu de patience, je reviens...</p>
  </section>
</body>

</html>
