<% content_for :meta_title, "#{ABOUT['full_name'].titleize} - #{t_scoped(:meta_title).capitalize}" %>

<div data-aos="fade" data-aos-duration="800">
  <%= render 'contacts/partials/form',
      contact: @contact %>
</div>
