<div class="container flex flex-col w-1/2 mx-auto my-5">
  <h1 class="my-3 text-3xl font-heading">Dashboard</h1>
  <ul>
    <% @projects.each do |project| %>
      <li class="pb-3 mt-3 border-b"><%= project.name %></li>
    <% end %>
  </ul>
</div>
