<section data-aos="fade"
         class="container sticky top-20 flex items-center h-[50vh] md:h-[40vh] mx-auto justify-evenly w-full md:w-3/4 2xl:w-1/2">
  <%= render 'pages/partials/home/hero' %>
</section>
<section data-aos="fade"
         data-aos-delay="400"
         data-aos-duration="800"
         class="relative top-10 rounded-t-[35px] lg:rounded-t-[50px] bg-blue-50">
  <%= render 'pages/partials/home/projects' %>
</section>
<section class="relative lg:h-screen z-10 rounded-t-[35px] lg:rounded-t-[50px] bg-slate-800">
  <%= render 'pages/partials/home/skills' %>
</section>
