<div class="min-h-[50%] lg:min-h-[75%] grow flex flex-col justify-center items-center">
  <h1 class="text-5xl">Hi there! I'm <span class="text-blue-500">Jean</span></h1>
  <p>I'm a Rails developer, but not only...</p>
</div>
<div class="m-5">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @projects.each do |project| %>
      <%= render 'partials/card', project: project %>
    <% end %>
  </div>
</div>
<div class="m-5">
  <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
    <% @skills.each do |skill| %>
      <div class="text-center bg-slate-50">
        <small class="inline-block p-5 text-blue-500"><%= skill.name %></small>
      </div>
    <% end %>
  </div>
</div>
