<% content_for :meta_title, "Jean Guillet - Mes projets" %>

<section class="container flex flex-col p-5 mx-auto">
  <div class="grid grid-cols-1 gap-5 my-10 lg:my-14 lg:grid-cols-2 lg:gap-10">
    <% @projects.each_with_index do |project, idx| %>
      <%= link_to project_path(project) do %>
        <%= render 'partials/card', project: project,
                                    idx: idx,
                                    delay: (idx + 1) * 100 %>
      <% end %>
    <% end %>
  </div>
</section>
