<% content_for :meta_title, "Jean Guillet - Projet #{@project.name}" %>
<% content_for :meta_description, @project.short_description %>
<% content_for :meta_image, @project.banner.attached? ? @project.banner.url : @project.banner_remote_url %>

<div data-aos="fade" data-aos-duration="800">
  <section class="container flex flex-col lg:flex-row items-center lg:h-[90vh] mx-auto">
    <%= render 'projects/partials/show/hero' %>
  </section>
  <section class="relative z-10 rounded-t-[35px] lg:rounded-t-[50px] bg-slate-900">
    <%= render 'projects/partials/show/gallery' %>
  </section>
  <section class="sticky z-20 justify-between hidden lg:flex bottom-14">
    <%= render 'projects/partials/show/paginator' %>
  </section>
</div>
