<div class="container relative flex items-center mx-auto lg:h-[73vh]">
  <div class="p-5 grow">
    <h1 class="relative p-3 text-2xl lg:text-5xl font-black text-center bg-slate-800 rounded-tl-[35px] rounded-tr-[35px] lg:rounded-lg text-blue-50 lg:w-fit lg:-left-10 top-10 font-heading"><%= @project.name %></h1>
    <div class="w-full mx-auto bg-center bg-cover rounded-[35px] lg:rounded-lg h-[300px] lg:h-[65vh]" style="background-image:url(<%= @project.banner_url %>)">
    </div>
  </div>
</div>
