<div class="fixed top-0 z-40 w-full border-2 border-dark lg:border-4"></div>
<div class="fixed right-0 z-40 h-full border-2 border-dark lg:border-4"></div>
<div class="fixed bottom-0 z-40 w-full border-2 lg:border-[20px] border-dark"></div>
<div class="fixed left-0 z-40 h-full border-2 border-dark lg:border-4"></div>
