<footer class="lg:fixed z-40 w-full bottom-[5px] lg:bottom-[10px] py-2 lg:py-0 bg-slate-900 select-none">
  <nav>
    <ul class="flex w-full mx-auto lg:w-2/3 justify-evenly">
      <% SOCIALS.each do |key, social| %>
        <%= link_to social['url'],
            target: social['target'],
            class:"text-blue-50 underline underline-offset-4 decoration-dotted decoration-blue-50" do %>
          <li class="hidden text-sm lg:block stext-blue-50"><%= social['name'] %></li>
          <p class="block text-2xl opacity-75 lg:hidden">
            <% unless social['svg-icon'].present? %>
              <%= fa_icon social['fa-icon'], class:"text-blue-50" %>
            <% else %>
              <%= image_tag social['svg-icon']['light'], class:"relative top-[6px] w-[20px]" %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    </ul>
  </nav>
</footer>
