@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&family=Syne:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Manrope', sans-serif;
  }

  ::selection {
    color: rgb(161, 161, 161);
    background-color: rgba(206, 230, 238, 0.25);
  }

  img::selection {
    background-color: transparent;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(107 114 128) !important;
  }
}
