<% flash.each do |type, msg| %>
  <div class="flex justify-center mt-3">
    <div data-aos="fade"
         data-aos-duration="800"
         class="z-50 px-5 py-3 mx-auto my-0 text-xs rounded-lg w-fit <%= conditional_flash_classes_for(type) %>">
      <%= msg %>
    </div>
  </div>
<% end %>
