<div data-aos="fade"
     data-aos-duration="800"
     data-aos-delay=<%= delay %>
     class="text-center rounded bg-primary-800">
  <small class="inline-block p-5 text-primary-300"><%= skill.name %></small>
</div>
