<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head_tags' %>
  </head>
  <body class="flex flex-col bg-gray-50">
    <%= render 'shared/admin/header' %>
    <main class="flex-grow">
      <%= render 'shared/partials/flash' %>
      <%= yield %>
    </main>
  </body>
</html>
